.snk-termine img, .snk-stammesAuswahl img {
    max-width: none;
    display: inline-block;
    padding: 0px;
    border: none;
    margin: 0px;
}

.snk-eintrag-stufe img{
    background-color: #fff0;
    border-radius: 0px;
}

.snk-termine table{
	width:100%;
}

tr.snk-headings-row th{
	color: black;
	background-color: transparent;
	line-height: 120%;
	padding: 5px;
	text-align:left;
}
.snk-termine th{
	color: white;
	/*text-align: left;*/
	background-color: rgba(0, 66, 135, 1); /*#2C2B2B; */
	line-height: 90%;
	padding: 5px;
}
.snk-termine td{
	padding: 3px;
}
.snk-powered-by {
	/*width: 50%;*/
	text-align: right;
	float: right;
	text-decoration: none;
	font-size: 10px;
}
.snk-hinzufuegen{
	width: 49%;
	float: left;
	font-weight: bold;
	font-size: small;
}
.snk-termin-infos dl{
	border: 1px solid black;
	border-top:0;
	border-right:0;
	margin: 0 0 5px 10px;
	padding: 10px 20px 20px 20px;
}

.snk-termin-infos dt{
	font-weight: bold;
}

.snk-termin-infos dd {
	margin-left: 10px;
}

.snk-termin-row-even {
	background: rgba(0, 0, 0, 0.1);
}

.snk-termin-row-odd {
}

.snk-termin-infos{
	display:none;
}

.snk-footer {
	margin-bottom: 20px;
}

.snk-termine {
	width: auto;
	/*margin-right: 5px;*/
}

.snkOptionalStructure{
    background-color: #fecf16;
    width: 100%;
    cursor: pointer;
    margin: 5px 0px 5px 0px;
    padding: 2.5px 5px;
}

.snkOptionalStructure label{
    margin-bottom: 0;
    margin: 0px 2.5px;
    float: unset;
}
.snkOptionalStructure .logo{
    width: 2em;
    text-align: center;
    float: left;
    margin: 0px 2.5px;
  
     
}
.snkOptionalStructure .checkbox {
    float: left;
    margin: 0px 2.5px;
}
