@font-face {
  font-family: 'Roboto Slab';
  src: url('../fonts/roboto-slab/RobotoSlab-Light.eot');
  src: url('../fonts/roboto-slab/RobotoSlab-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-slab/RobotoSlab-Light.woff2') format('woff2'), url('../fonts/roboto-slab/RobotoSlab-Light.woff') format('woff'), url('../fonts/roboto-slab/RobotoSlab-Light.ttf') format('truetype'), url('../fonts/roboto-slab/RobotoSlab-Light.svg#RobotoSlab-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Slab';
  src: url('../fonts/roboto-slab/RobotoSlab-Regular.eot');
  src: url('../fonts/roboto-slab/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-slab/RobotoSlab-Regular.woff2') format('woff2'), url('../fonts/roboto-slab/RobotoSlab-Regular.woff') format('woff'), url('../fonts/roboto-slab/RobotoSlab-Regular.ttf') format('truetype'), url('../fonts/roboto-slab/RobotoSlab-Regular.svg#RobotoSlab-Regular') format('svg');
  font-weight: normal;
  font-style: normal;  
}
@font-face {
  font-family: 'Roboto Slab';
  src: url('../fonts/roboto-slab/RobotoSlab-Thin.eot');
  src: url('../fonts/roboto-slab/RobotoSlab-Thin.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-slab/RobotoSlab-Thin.woff2') format('woff2'), url('../fonts/roboto-slab/RobotoSlab-Thin.woff') format('woff'), url('../fonts/roboto-slab/RobotoSlab-Thin.ttf') format('truetype'), url('../fonts/roboto-slab/RobotoSlab-Thin.svg#RobotoSlab-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Slab';
  src: url('../fonts/roboto-slab/RobotoSlab-Bold.eot');
  src: url('../fonts/roboto-slab/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-slab/RobotoSlab-Bold.woff2') format('woff2'), url('../fonts/roboto-slab/RobotoSlab-Bold.woff') format('woff'), url('../fonts/roboto-slab/RobotoSlab-Bold.ttf') format('truetype'), url('../fonts/roboto-slab/RobotoSlab-Bold.svg#RobotoSlab-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Bold.eot');
  src: url('../fonts/roboto/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Bold.woff2') format('woff2'), url('../fonts/roboto/Roboto-Bold.woff') format('woff'), url('../fonts/roboto/Roboto-Bold.ttf') format('truetype'), url('../fonts/roboto/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Light.eot');
  src: url('../fonts/roboto/Roboto-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Light.woff2') format('woff2'), url('../fonts/roboto/Roboto-Light.woff') format('woff'), url('../fonts/roboto/Roboto-Light.ttf') format('truetype'), url('../fonts/roboto/Roboto-Light.svg#Roboto-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Regular.eot');
  src: url('../fonts/roboto/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto/Roboto-Regular.woff2') format('woff2'), url('../fonts/roboto/Roboto-Regular.woff') format('woff'), url('../fonts/roboto/Roboto-Regular.ttf') format('truetype'), url('../fonts/roboto/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/roboto-cond/RobotoCondensed-Bold.eot');
  src: url('../fonts/roboto-cond/RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-cond/RobotoCondensed-Bold.woff2') format('woff2'), url('../fonts/roboto-cond/RobotoCondensed-Bold.woff') format('woff'), url('../fonts/roboto-cond/RobotoCondensed-Bold.ttf') format('truetype'), url('../fonts/roboto-cond/RobotoCondensed-Bold.svg#RobotoCondensed-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/roboto-cond/RobotoCondensed-Regular.eot');
  src: url('../fonts/roboto-cond/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-cond/RobotoCondensed-Regular.woff2') format('woff2'), url('../fonts/roboto-cond/RobotoCondensed-Regular.woff') format('woff'), url('../fonts/roboto-cond/RobotoCondensed-Regular.ttf') format('truetype'), url('../fonts/roboto-cond/RobotoCondensed-Regular.svg#RobotoCondensed-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/roboto-cond/RobotoCondensed-LightItalic.eot');
  src: url('../fonts/roboto-cond/RobotoCondensed-LightItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-cond/RobotoCondensed-LightItalic.woff2') format('woff2'), url('../fonts/roboto-cond/RobotoCondensed-LightItalic.woff') format('woff'), url('../fonts/roboto-cond/RobotoCondensed-LightItalic.ttf') format('truetype'), url('../fonts/roboto-cond/RobotoCondensed-LightItalic.svg#RobotoCondensed-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/roboto-cond/RobotoCondensed-BoldItalic.eot');
  src: url('../fonts/roboto-cond/RobotoCondensed-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-cond/RobotoCondensed-BoldItalic.woff2') format('woff2'), url('../fonts/roboto-cond/RobotoCondensed-BoldItalic.woff') format('woff'), url('../fonts/roboto-cond/RobotoCondensed-BoldItalic.ttf') format('truetype'), url('../fonts/roboto-cond/RobotoCondensed-BoldItalic.svg#RobotoCondensed-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/roboto-cond/RobotoCondensed-Italic.eot');
  src: url('../fonts/roboto-cond/RobotoCondensed-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-cond/RobotoCondensed-Italic.woff2') format('woff2'), url('../fonts/roboto-cond/RobotoCondensed-Italic.woff') format('woff'), url('../fonts/roboto-cond/RobotoCondensed-Italic.ttf') format('truetype'), url('../fonts/roboto-cond/RobotoCondensed-Italic.svg#RobotoCondensed-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/roboto-cond/RobotoCondensed-Light.eot');
  src: url('../fonts/roboto-cond/RobotoCondensed-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/roboto-cond/RobotoCondensed-Light.woff2') format('woff2'), url('../fonts/roboto-cond/RobotoCondensed-Light.woff') format('woff'), url('../fonts/roboto-cond/RobotoCondensed-Light.ttf') format('truetype'), url('../fonts/roboto-cond/RobotoCondensed-Light.svg#RobotoCondensed-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "waldlaeuferzeichen-pfadfinden";
  src:url("../fonts/waldlaeuferzeichen/waldlaeuferzeichen-pfadfinden.eot");
  src:url("../fonts/waldlaeuferzeichen/waldlaeuferzeichen-pfadfinden.eot?#iefix") format("embedded-opentype"),
    url("../fonts/waldlaeuferzeichen/waldlaeuferzeichen-pfadfinden.woff") format("woff"),
    url("../fonts/waldlaeuferzeichen/waldlaeuferzeichen-pfadfinden.ttf") format("truetype"),
    url("../fonts/waldlaeuferzeichen/waldlaeuferzeichen-pfadfinden.svg#waldlaeuferzeichen-pfadfinden") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "social";
  src:url("../fonts/social/SocialicoPlus-Plus.eot");
  src:url("../fonts/social/SocialicoPlus-Plus.eot?#iefix") format("embedded-opentype"),
    url("../fonts/social/SocialicoPlus-Plus.ttf") format("truetype"),
    url("../fonts/social/SocialicoPlus-Plus.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "social2";
  src:url("../fonts/social/Socialico-Regular.eot");
  src:url("../fonts/social/Socialico-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/social/Socialico-Regular.ttf") format("truetype"),
    url("../fonts/social/Socialico-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.social2{
  font-family: "social2" !important;
}

.social{
  font-family: "social" !important;
}
.social, .social2 {
 font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 3em;
  padding-right: 2px;
  }

blockquote p:first-child::after,
blockquote p:first-child:first-letter,
[class^="vcpwlz-"]:before,
[class*=" vcpwlz-"]:before,
.vcpwlz {
  font-family: "waldlaeuferzeichen-pfadfinden" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vcpwlz a, .vcpwlz a:hover{
    text-decoration: none;
}

/* Replacement for `body { background-attachment: fixed; }`, which has
   performance issues when scrolling on large displays. See #1394. */
body::before {
    content: ' ';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    will-change: transform;
    z-index: -1;
}
body {
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 17px;
  line-height: 26px;
  color: rgba(35, 35, 35, 1);
  background-color: #fcf8ed;
  overflow-x: hidden !important;
}



html {
    /* csslint ignore:start */
    /* The nav header is 3.5rem high, plus 20px for the margin-top of the
       main container. */
    scroll-padding-top: calc(3.5rem + 20px);
    /* csslint ignore:end */
}



body > .container {
    margin-top: 20px;
 /*   min-height: 400px;*/
}

.navbar {
  position: fixed;
  top: 0;
  min-height: 75px;
  left: 0;
  right: 0;
  background-color: rgba(0, 66, 135, 1);
  z-index: 1030;
}

.navbar .col-sm-2:last-child {
  min-height: 50px;
}

.navbar.fixed-top { /* csslint allow: adjoining-classes */
    /* csslint ignore:start */
    position: -webkit-sticky;
    position: sticky;
    /* csslint ignore:end */
}

.navbar-brand img {
    margin-right: 0.5rem;
    height: 60px;
    width: auto;
    max-width: 255px;
}

.source-links {
    float: right;
}

.col-md-9 img {
    max-width: 100%;
    display: inline-block;
    padding: 4px;
    line-height: 1.428571429;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 20px auto 30px auto;
}

.nav-logo {
    padding: 5px 20px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    width: 100%;
}
/*.nav-logo img{
height: 255px;
}*/



hr {
    border-top: 1px solid #aaa;
}

pre, .rst-content tt {
    max-width: 100%;
    background: #fff;
    border: solid 1px #e1e4e5;
    color: #333;
    overflow-x: auto;
}

code.code-large, .rst-content tt.code-large {
    font-size: 90%;
}

code {
    padding: 2px 5px;
    background: #fff;
    border: solid 1px #e1e4e5;
    color: #333;
    white-space: pre-wrap;
    word-wrap: break-word;
}

pre code {
    display: block;
    background: transparent;
    border: none;
    white-space: pre;
    word-wrap: normal;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 12px;
}

kbd {
    padding: 2px 4px;
    font-size: 90%;
    color: #fff;
    background-color: #333;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
}

.footerA, a code {
    color: #2FA4E7;
}

a:hover code, a:focus code {
    color: #157AB5;
}
/* original mkdoc footer
footer {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 200;
}
*/
.text-light a{
color: rgba(255,255,255,0.8);
}
.text-light a:hover, .text-light a:active {
  color: #fff;
}
.text-dark{
color: #000;
}
footer{
  background-color: rgba(0, 66, 135, 1);
  padding: 30px 0;
  color: #fff;
  font-size: 10px;
  text-align: center;
  position: relative;
  z-index: 1029;
}

footer ul,
footer ul ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
footer ul li {
  font-size: 14px;
  color: #fff !important;
  margin: 0 0 50px 0;
  text-align: center;
  background-image: none !important;
}
footer ul li a {
  color: rgba(0, 177, 235, 1) !important;
  text-decoration: none !important;
}
footer ul li ul li {
  font-size: 10px;
  color: #fff !important;
  margin: 0;
}
footer ul li ul li a {
  color: rgba(255, 255, 255, 1)  !important;
}

.modal-dialog {
    margin-top: 60px;
}

.dropdown-menu{
    color: rgba(0, 66, 135, 1);
    background-color: #e9ecef !important;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,0.125);
}

.dropdown-item{
    color: rgba(0, 66, 135, 1);
}

.dropdown-item.active, .dropdown-item:active , .dropdown-item:hover {
    color: rgba(0, 66, 135, 1);
  /*  text-decoration: none;
    background-color: #2FA4E7;*/
    font-weight: bold;
    background-color: transparent;
    border-right: 1px solid;
}

/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

.bs-sidebar.affix { /* csslint allow: adjoining-classes */
    /* csslint ignore:start */
    position: -webkit-sticky;
    position: sticky;
    /* csslint ignore:end */
    /* The nav header is 3.5rem high, plus 20px for the margin-top of the
       main container. */
    top: calc(3.5rem + 20px);
}

.bs-sidebar.card { /* csslint allow: adjoining-classes */
    padding: 0;
    max-height: 90%;
    overflow-y: auto;
}

/* Toggle (vertically flip) sidebar collapse icon */
.bs-sidebar .navbar-toggler span {
    -moz-transform: scale(1, -1);
    -webkit-transform: scale(1, -1);
    -o-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}

.bs-sidebar .navbar-toggler.collapsed span { /* csslint allow: adjoining-classes */
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
}

/* First level of nav */
.bs-sidebar > .navbar-collapse > .nav {
    padding-top:    10px;
    padding-bottom: 10px;
    border-radius: 5px;
    width: 100%;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
    display: block;
    padding: 5px 20px;
    z-index: 1;
    color: rgba(0, 66, 135, 1);
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
    text-decoration: none;
    border-right: 1px solid;
}
.bs-sidebar .nav > li > a.active,
.bs-sidebar .nav > li > a.active:hover,
.bs-sidebar .nav > li > a.active:focus {
    font-weight: bold;
    background-color: transparent;
    border-right: 1px solid;
}

.bs-sidebar .nav .nav .nav {
    margin-left: 1em;
}

.bs-sidebar .nav > li > a {
    font-weight: bold;
}

.bs-sidebar .nav .nav > li > a {
    font-weight: normal;
}

.headerlink {
    font-family: FontAwesome;
    font-size: 14px;
    display: none;
    padding-left: .5em;
}

h1:hover .headerlink, h2:hover .headerlink, h3:hover .headerlink, h4:hover .headerlink, h5:hover .headerlink, h6:hover .headerlink{
    display:inline-block;
}



.admonition {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: left;
}

.admonition.note { /* csslint allow: adjoining-classes */
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.admonition.warning { /* csslint allow: adjoining-classes */
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #fbeed5;
}

.admonition.danger { /* csslint allow: adjoining-classes */
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.admonition-title {
    font-weight: bold;
    text-align: left;
}

@media (max-width: 991.98px) {
    .navbar-collapse.show { /* csslint allow: adjoining-classes */
        overflow-y: auto;
        max-height: calc(100vh - 3.5rem);
    }
}

.dropdown-item.open { /* csslint allow: adjoining-classes */
    color: #fff;
    background-color: #2FA4E7;
}

.dropdown-submenu > .dropdown-menu {
    margin: 0 0 0 1.5rem;
    padding: 0;
    border-width: 0;
}

.dropdown-submenu > a::after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a::after {
    border-left-color: #fff;
}

@media (min-width: 992px) {
    .dropdown-menu {
        overflow-y: auto;
        max-height: calc(100vh - 3.5rem);
    }

    .dropdown-submenu {
        position: relative;
    }

    .dropdown-submenu > .dropdown-menu {
        /* csslint ignore:start */
        position: fixed !important;
        /* csslint ignore:end */
        margin-top: -9px;
        margin-left: -2px;
        border-width: 1px;
        padding: 0.5rem 0;
    }

    .dropdown-submenu.pull-left { /* csslint allow: adjoining-classes */
        float: none;
    }

    .dropdown-submenu.pull-left > .dropdown-menu { /* csslint allow: adjoining-classes */
        left: -100%;
        margin-left: 10px;
    }
}

@media print {
    /* Remove sidebar when print */
    .col-md-3 { display: none; }
}





#home h2 {
  font-size: 42px;
  line-height: 52px;
  color: rgba(0, 66, 135, 1);
  font-weight: bold;
  margin-bottom: 20px;
}
#home .bg-blau h2 {
  color: #ffffff;
}
h1 {
  font-size: 42px;
  line-height: 52px;
  color: rgba(0, 66, 135, 1);
  font-weight: bold;
  margin-bottom: 20px;
}
h2 {
  font-size: 25px;
  line-height: 35px;
  color: rgba(35, 35, 35, 1);
  font-weight: bold;
  margin-bottom: 20px;
}
.sub-content h2 {
  margin-top: 50px;
}
h3, h4 {
  font-size: 19px;
  line-height: 26px;
  color: rgba(0, 66, 135, 1);
  font-weight: bold;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}
h3 a, h4 a {
  font-size: 19px;
  line-height: 26px;
  color: rgba(0, 66, 135, 1);
  font-weight: bold;
}
h3 a:hover, h4 a:hover {
  text-decoration: none;
}

a {
  word-wrap: break-word;
}

.more-button a {
  background-color: #f0535c;
  display: inline-block;
  padding: 7px 15px 7px;
  color: #fff !important;
  font-size: 18px;
  font-weight: bold;
  line-height: 1px;
  margin: 10px 20px 0 0;
  line-height: 24px;
  text-decoration: none !important;
}
#c110 .more-button a {
  width: 286px;
  max-width:100%;
}
.more-button a:hover {
  text-decoration: none;
}
.header {
  position: fixed;
  top: 0;
  height: 75px;
  left: 0;
  right: 0;
  background-color: rgba(0, 66, 135, 1);
  z-index: 10001;
}

.header .col-sm-2:last-child {
  min-height: 50px;
}

/**
.page-wrapper {
  margin-top: 70px;
}
*/

.more-button, 
.more-button a {
  background-color: #f0535c;
  display: inline-block;
  padding: 7px 15px 7px;
  color: #fff !important;
  font-size: 18px;
  font-weight: bold;
  line-height: 1px;
  margin: 10px 20px 0 0;
  line-height: 24px;
  text-decoration: none !important;
}

.more-button {
cursor: pointer;
}

.footer
.bg-blue {
  background-color: rgba(0, 66, 135, 1);
  padding: 30px 0;
  font-size: 10px;
  color: #fff;
  position: relative;
  z-index: 2000;
}
.bg-blue h2 {
  color: #fff;
}
.bg-grey {
  background-color: #999999;
  -webkit-box-shadow: 0px 10px 10px -4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 10px 10px -4px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 10px 10px -4px rgba(0, 0, 0, 0.5);
  padding: 20px;
}
.bg-white {
  background-color: #fff;
  -webkit-box-shadow: 0px 10px 10px -4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 10px 10px -4px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 10px 10px -4px rgba(0, 0, 0, 0.5);
  padding: 5px;
}

.text-feuerrot{
    color: #e94653;
}
.text-feuergelb{
    color: #fecf16;
}
.text-wasserblau{
    color: #00b0eb;
}
.text-luftgrau{
    color: #cdd1ca;
}
.text-vcpblau{
    color: #004287;
}
.text-erdbraun{
    color: #603609;
}

.text-kinder{
    color: #ed3422;
}
.text-jungpfadfinder{
    color: #5cbd00;
}
.text-pfadfinder{
    color: #00834d;
}
.text-ranger{
    color: #701a32;
}
.text-erwachsene{
    color: #4f2778;
}

.frame-p10 {
  padding: 10px;
}

blockquote,
.frame-p20 {
  padding: 20px;
}
blockquote,
.bg-beige,
.frame-layout-2 {
  background-color: #e8e5dc;
}

.bg-yellow,
.frame-layout-1 {
  background-color: #fecf16;
}
.bg-lightblue,
.frame-layout-3 {
  background-color: #00b1eb;
}
.footer ul,
.footer ul ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer ul li {
  font-size: 14px;
  color: #fff !important;
  margin: 0 0 50px 0;
  text-align: center;
  background-image: none !important;
}
.footer ul li a {
  color: rgba(0, 177, 235, 1) !important;
  text-decoration: none !important;
}
.footer ul li ul li {
  font-size: 10px;
  color: #fff !important;
  margin: 0;
}
.footer ul li ul li a {
  color: rgba(255, 255, 255, 1)  !important;
}
.totop {
  text-align: center;
}
#content ul {
  margin: 0;
  padding: 0;
}
#content ul li {
  background-image: url(../img/li.png);
  background-repeat: no-repeat;
  list-style: none;
  padding: 0 0 10px 40px;
}
#content a {
  color: #000;
  text-decoration: underline;
}
#content a:hover,
#content a:focus,
#content a:visited {
  color: #000;
  text-decoration: none;
}
.grid {
  margin: 70px 0 29px 0;
}
#c100.grid {
  margin-top: 0;
}
.grid.frame-layout-2 {
  padding: 113px 0;
}
.flexslider .slides > li {
  background-image: none !important;
  padding: 0 !important;
}
.flex-direction-nav {
  display: none;
}
.flexslider {
  border: none !important;
  border-radius: 0 !important;
}
.flexslider .caption-text {
  bottom: 20px;
  top: inherit !important;
  background: rgba(255, 255, 255, 0) !important;
  font-size: 32px;
  line-height: 39px;
  color: #fff;
  font-weight: 300;
  width: 530px;
}
.language {
  float: left;
  margin: 22px 20px 0 0;
}
.blog {
  margin: 22px 0 0 0;
}
.suche {
  margin: 22px 0 0 0;
}
.copyright {
  text-align: center;
}
.frame-type-menu_section {
  position: sticky;
  max-width: 160px;
  font-size: 12px;
  top: 50%;
  margin-top: -100px;
  z-index: 1;
}
.frame-type-menu_section ul {
  margin: 0 !important;
  padding: 0 !important;
}
.frame-type-menu_section ul li {
  margin: 0 0 15px 0!important;
  padding: 0 !important;
  list-style: none !important;
  background-image: none !important;
  line-height: 14px;
}
.frame-type-menu_section ul li a {
  background-repeat: no-repeat !important;
  background-position: top left !important;
  padding: 6px 0 0 50px !important;
  display: block;
  line-height: 15px;
  color: #cdd1ca !important;
  text-decoration: none !important;
}
.frame-type-menu_section ul li.c100 a {
  background-image: url(../img/anker-1.png) !important;
}
.frame-type-menu_section ul li.c100 a:hover,
.frame-type-menu_section ul li.c100 a.current,
.frame-type-menu_section ul li.active.c100 a {
  background-image: url(../img/anker-1b.png) !important;
}
.frame-type-menu_section ul li.c8 a {
  background-image: url(../img/anker-2.png) !important;
}
.frame-type-menu_section ul li.c8 a:hover,
.frame-type-menu_section ul li.c8 a.current,
.frame-type-menu_section ul li.active.c8 a {
  background-image: url(../img/anker-2b.png) !important;
}
.frame-type-menu_section ul li.c21 a {
  background-image: url(../img/anker-3.png) !important;
}
.frame-type-menu_section ul li.c21 a:hover,
.frame-type-menu_section ul li.c21 a.current,
.frame-type-menu_section ul li.active.c21 a {
  background-image: url(../img/anker-3b.png) !important;
}
.frame-type-menu_section ul li.c23 a {
  background-image: url(../img/anker-4.png) !important;
}
.frame-type-menu_section ul li.c23 a:hover,
.frame-type-menu_section ul li.c23 a.current,
.frame-type-menu_section ul li.active.c23 a {
  background-image: url(../img/anker-4b.png) !important;
}
.frame-type-menu_section ul li.c32 a {
  background-image: url(../img/anker-5.png) !important;
}
.frame-type-menu_section ul li.c32 a:hover,
.frame-type-menu_section ul li.c32 a.current,
.frame-type-menu_section ul li.active.c32 a {
  background-image: url(../img/anker-5b.png) !important;
}
.frame-type-menu_section ul li a {
  color: rgba(205, 209, 210, 1);
}
.frame-type-menu_section ul li a:hover,
.frame-type-menu_section ul li a.current,
.frame-type-menu_section ul li.active a {
  color: rgba(0, 177, 235, 1) !important;
  text-decoration: none;
}
#c8 h2,
#c23 h2,
#c32 h2 {
  padding-top: 100px;
}
#c17 h2 {
  padding-top: 20px;
  }
.tx-indexedsearch-searchbox-button {
  background-color: transparent;
  border: none;
  background-image: url(../img/search.png);
  background-repeat: no-repeat;
  width: 19px;
  text-indent: -9999px;
}
.tx-indexedsearch-form {
  position: relative;
}
.tx-indexedsearch-searchbox {
  position: relative;
}  
.sub-content .tx-indexedsearch-search-submit {
    top: 72px; 
}
#c394 .tx-powermail .powermail_fieldwrap.powermail_fieldwrap_type_content {
  margin-bottom: 20px;
}  
#c394 .tx-powermail .btn-group button:focus {
  box-shadow: none;
}
input#tx-indexedsearch-searchbox-sword {
  width: 100%;
  max-width: 100%;
}
.tx-indexedsearch-search-submit {
  position: absolute;
  right: 10px;
  top: 5px;
}
#c52 {
  padding: 100px 0;
}
.news-list-date {
  font-size: 12px;
}
#c22 {
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.8);
}
#c12 {
  background-color: #004287;
  padding: 60px 20px;
  color: #fff;
}
#c12 h2 {
  color: #fff;
}
#c12.grid {
  margin-bottom: 0 !important;
}
#c21.grid {
  margin-top: 0 !important;
}
#c21.frame-layout-2 {
  background-color: transparent !important;
}
#c12 {
  margin-left: -190px;
  padding-left: 190px;
}
#c21 {
  margin-left: -190px;
}
#c21 {
  background-image: url(../img/mitmachen.jpg);
  background-repeat: no-repeat;
}
.slick-dots {
  top: -55px;
  width: inherit;
  right: 0;
  text-align: right;
}
.slick-dots li {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 100px;
  background-image: none !important;
  padding: 0 !important;
}
.slick-dots li.slick-active {
  background-color: #00b1eb;
}
.slick-dots li button:before {
  content: "";
}
.slick-center .slick-slide.slick-current {
  opacity: 1;
}
.slick-center .ce-bodytext {
  padding: 0 20px;
  }
.slick-center .slick-slide .slick-active,
.slick-center .slick-slide {
  opacity: 0.2;
}
#c49 .ce-gallery {
  margin-bottom: 0;
}
#c49 {
  position: relative;
  z-index: 2000;
}
.sub-page-wrapper {
  padding: 130px 0 70px 0;
}
.headerimage {
  margin-bottom: 40px;
}
.card-body h2 {
  display: none;
}
.card {
  background-color: transparent;
  /* border: none; Wegen Menüumrandung */
}
.card .btn-link {
  color: rgba(0, 66, 135, 1);
  text-decoration: none;
}
.card .btn-link:hover {
  color: rgba(0, 66, 135, 1);
  text-decoration: none;
}
.card-header {
  padding: 0;
  margin-bottom: 0;
  background-color: transparent;
  border-bottom: 1px solid #ccc;
}
.slick-slider {
  z-index: 10000;
}
.bg-blau {
  background-color: rgb(0, 66, 135);
  color: #fff;
}
.bg-blau h2 {
  color: #fff;
  }
.bg-blau .more-button {
  margin-bottom: 30px;
}
.card-body {
  padding: 15px 0 0 0;
}
.card-body .animate-right {
    opacity: 1 !important;
    visibility: visible !important;
  -webkit-transform: translate(0, 0) !important;

-moz-transform: translate(0, 0) !important;

transform: translate(0, 0) !important;
}
.card-body .animate-left {
    opacity: 1 !important;
    visibility: visible !important;-webkit-transform: translate(0, 0) !important;

-moz-transform: translate(0, 0 !important);

transform: translate(0, 0) !important;
}
.card .btn {
  padding-left: 0;
}
.card-body .grid {
  margin: 0 0 29px 0;
}
#c188 {
  background-color: #fecf16;
  padding: 90px 20px 5px;
  background-image: url(../img/blog-icon.png);
  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-position: top 20px left 20px;
  margin: 110px 0 0 0;
  -webkit-box-shadow: 0px 10px 10px -4px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 10px 10px -4px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 10px 10px -4px rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  top: 100px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index: 12000;
  transform: translateX(155px);
}
#c188:hover {
  transform: translateX(0);
}
.flexslider .caption-body p {
  position: relative;
  background: rgba(0, 66, 135, 1); 
  padding: 2px;
  color: #fff;
  display: inline;
  line-height: 1.6;
}
#slider p {
  position: relative;
  background: rgba(0, 66, 135, 1);
  padding: 2px;
  color: #fff;
  display: inline-block;
  line-height: 1.6;
}
#slider p.ls-layer {
  /*190613 MB: Remove font size and height*/
color: #fff;
font-weight: 300;
padding: 5px 0 inherit;
}



.ce-gallery figcaption {
  font-size: 14px;
  color: #ccc;
  display: block;
}
.breadc .active {
  font-size: 12px;
  color: rgba(0, 177, 235, 1);
  display: block;
}
.breadc,
.breadc a {
  font-size: 12px;
  color: rgba(205, 209, 202, 1) !important;
  text-decoration: none !important;
  line-height: 18px;
  margin-top: 8px;
}
#c394 .tx-powermail h3 {
  font-size: 42px;
  line-height: 55px;
  color: #004287;
  font-family: "Roboto-Slab", Arial, Helvetica, sans-serif;
}
#c394 .tx-powermail legend {
  display: none;
}
.tx-powermail .btn-group {
  background-color: transparent !important;
  font-family: "Roboto", Arial, Helvetica, sans-serif !important;
  font-size: 19px !important;
  line-height: 23px !important;
  margin-left: -15px;
  margin-bottom: 50px;
}
.tx-powermail .btn-group .btn-primary {
  color: #004287;
  background-color: transparent;
  border-color: transparent;
}
.tx-powermail .btn-group .btn-default {
  color: #CCCCCC;
  background-color: transparent;
  border-color: transparent;
}
#c394 .tx-powermail .btn-group .btn {
  border-right: 1px solid #CCCCCC;
  line-height: 4px;
}
#c394 .tx-powermail .btn-group .btn:focus {
  outline: none;
}
#c394 .tx-powermail h2 {
  margin-top: 0;
  font-weight: normal;
  margin-bottom: 0;
}
#c394 .tx-powermail .ce-column {
  margin-right: 10px !important;
}
#c394 .tx-powermail label.powermail_label {
  color: #004287;
  font-size: 19px;
  line-height: 23px;
  margin-bottom: 12px;
}
.slick-center .slick-slide .slick-active,
.slick-center .slick-slide {
  opacity: 1 !important;
}
#c394 .tx-powermail .powermail_fieldwrap {
  margin-bottom: 81px;
}
#c394 .tx-powermail .powermail_fieldset_6 .powermail_fieldwrap {
  margin-bottom: 10px;
}
#c394 .tx-powermail input {
  border: none;
  border: 1px solid #666 !important;
}
.powermail_tab_navigation .btn-primary {
  color: #fff;
  background-color: transparent;
  border: none;
  background-image: url(../img/li.png);
  background-repeat: no-repeat;
  list-style: none;
  padding: 0 0 10px 40px;
  text-indent: -9999px;
}
.cc-banner.cc-bottom {
  z-index: 11111;
  }
.powermail_tab_navigation .btn-warning {
  display: none;
}
#c394 .tx-powermail .btn-group .btn-primary {
  color: #000;
}
input.powermail_submit {
  cursor: pointer;
}
.ce-left .ce-bodytext h2 {
  margin-top: 0;
}
  
  
/** VCP ContributionCalc */
#c683 select#vcpcontributioncalc_stammselect,
#c683 input[type="submit"],
.tx-vcpgeosearch input[type="submit"] {
  background-color: #f0535c;
  display: inline-block;
  padding: 3px 15px 5px;
  color: #fff !important;
  font-size: 18px;
  font-weight: bold;
  line-height: 1px;
  margin: 10px 20px 0 0;
  line-height: 24px;
  text-decoration: none !important;
  border: none;
}

#content select#vcpcontributioncalc_stammselect {
  max-width: 100%;
  background: #fff;
  color: #000 !important;
  border: 1px solid #d5d5d5;
  margin-bottom: 20px !important;
}

#c683 .submit-wrap {
  display: flex;
  justify-content: flex-end;
}

#c683 form[name="stammselect"] input[type="submit"] {
  margin-right: 0 !important;
}

#c683 .back {
  display: inline-block;
  margin-bottom: 20px;
}

.persons {
  display: flex;
  flex-direction: column;
}


#c683 div > label {
  display: block;
}


#c683 .persons label {
  display: flex;
  justify-content: space-between;
}

#c683 #formCalculate label input {
  margin-right: 5px;
}

#c683 .info {
  margin: 20px 0;
}

#c683 .discounts {
  margin-top: 20px;
}

.tx-vcpcontributioncalc form input[type="submit"][value="Suchen"] {
  margin-left: 10px !important;
}

#vcpcontributioncalc_stammselect {
  margin-bottom: 10px !important;
}

#vcpmap {
  margin-top: 30px;
  max-width: 100%;
  max-height: 55vh;
}

#c683 form {
  margin-bottom: 15px;
}

#c683 table {
  width: 100%;
}

#c683 table + h4 {
  font-size: 1.3125rem;
}

.tx-vcpcontributioncalc .alert {
  color: #571515;
  background-color: #edd4d4;
  border-color: #e6c3c3;
}

/** VCP GeoSearch */
.tx-vcpgeosearch li.alert {
  background-image: none !important;
  }
.tx-vcpgeosearch li.alert p {
  margin: 20px 20px 14px 20px;
  }

.tx-vcpgeosearch .popup p {
  margin-bottom: 0;
  }
.tx-vcpgeosearch .result-inner {
  padding: 15px;
  border: 1px solid rgba(0, 66, 135, 1);
  margin-bottom: 30px;
  }
.tx-vcpgeosearch .result-inner ul li {
  background-image: none !important;
  margin: 0 !important;
  padding: 0 !important;
  }
  
.tx-vcpgeosearch-map {
  margin: 30px 0;
  }
  
.tx-vcpgeosearch .result-inner h3 a {
  font-size: 19px;

line-height: 26px;

color: rgba(0, 66, 135, 1) !important;

font-weight: bold;

font-family: "Roboto", Arial, Helvetica, sans-serif;
text-decoration: none !important;
  }
  
#c606 {
  padding: 25px;
  background-color: rgba(255,255,255,0.6);
  }
  
#c605 input[type="text"] {
  border: 1px solid rgb(240, 83, 92);
  color: rgb(240, 83, 92);
  padding: 5px;
  width: 300px;
  }
  
#c605 input[type="submit"] {
    background-color: transparent;
    border: none;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    width: 19px;
    text-indent: -9999px;
  margin-left: -30px;
}
  
  
  
.mobile #c188 {
  display: none;
}
.mobile header .suche {
  display: none;
}

.mobile nav .suche {
  margin: 80px 0 0 0;
  padding: 0 35px 0 15px;
}

.mobile nav .sidebar-nav {
  /* margin: initial; weil Suche fehlt*/
  margin: 80px 0 0 0;
}

.mobile nav .suche {
  display: block;
}

nav .suche {
  display: none;
}

.desktop .page-wrapper {
  margin-top: 70px;
}

  .desktop .animate-down {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate(0, -100px);
    -moz-transform: translate(0, -100px);
    transform: translate(0, -100px)
}
.desktop .animate-down.animated {
    opacity: 1;
    visibility: visible;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: all 600ms ease-out 100ms;
    -moz-transition: all 600ms ease-out 100ms;
    transition: all 600ms ease-out 100ms
}
.desktop .animate-up {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate(0, 100px);
    -moz-transform: translate(0, 100px);
    transform: translate(0, 100px)
}
.desktop .animate-up.animated {
    opacity: 1;
    visibility: visible;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: -webkit-transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
    -moz-transition: -moz-transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
    transition: transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms
}
.desktop .animate-right {
    opacity: 0;
    visibility: hidden;
    transform: translate(-100px, 0)
}
.desktop .animate-right.animated {
    opacity: 1;
    visibility: visible;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: -webkit-transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
    -moz-transition: -moz-transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
    transition: transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms
}
.desktop .animate-left {
    opacity: 0;
    visibility: hidden;
    transform: translate(100px, 0)
}
.desktop .animate-left.animated {
    opacity: 1;
    visibility: visible;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: -webkit-transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
    -moz-transition: -moz-transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms;
    transition: transform 400ms ease-out 100ms, opacity 400ms ease-out 100ms
}



.news .slick-slider .news-image-wrap a img {
    max-height: 400px;
    width: auto;
    height: auto;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .slick-slider.slick-center .slick-slide:not(.slick-center) {
    opacity: 0.2 !important;
    transition: 1s opacity;
  }
}

/** Calendar */
.next-button img,
.previous-button img {
  width: 75%;
}

table.year-table th,
table.year-table,
table.month-large th,
table.month-large {
  background-color: transparent !important;
}



table.year-table > tbody {
  display: block;
}

table.year-table > tbody > tr {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

@media screen and (max-width: 576px) {
  table.year-table > tbody > tr {
    flex-direction: column;
  }
}



table.year-table,
table.month-large {  
  border-collapse: separate !important;
  border-spacing: 10px 0;
}

table.year-table .create > td,
table.month-large .create > td {
    height: 20px;
    border: none !important;
}

table.year-table .weekday,
table.month-large .dayNum {
  border-color: #FECF16 !important;
  background: #FECF16 !important;
  font-size: 0.7rem !important;
  font-weight: bold !important;
}

table.year-table .withEventDay {
  background: #FECF1680;
}
.tx-cal-controller .month-medium td,
table.month-large .emptyWeek, .withEventWeek {
  border-bottom: 1px solid;
  border-color: #FECF16 !important;
}

table.year-table .month-weeknums,
table.month-large .month-weeknums {
    color: #FECF16;
    font-size: 0.5rem !important;
    vertical-align: bottom;
    padding-bottom: 10px;
}

table.year-table .month-weeknums {
  font-size: 0.75rem !important;
  padding-bottom: 0;
}

table.year-table .monthCorner + .weekday {
  border-left: 1px solid;
}

table.year-table h3 {
  color: #000000;
}


.tx-cal-controller .ics_link a {
    background-image: none !important;
    background: #F0535C;
        background-image: none;
    padding: 5px 20px !important;
    color: #fff !important;
  text-decoration: none !important;
  font-weight: bold;
}

.tx-cal-controller h1 {
  color: #000000 !important;
  font-size: 2.25rem !important;
}

.tx-cal-controller .header-buttons > :empty {
    display: none;
}

.tx-cal-controller .today-button {
  background-image: none !important;
}

.tx-cal-controller .today-button a {
  color: rgba(0, 66, 135, 1) !important;
  font-weight: bold;
}

.tx-cal-controller .allday.vevent {
    background: #FECF1680 !important;
    border-color: #FECF16 !important;
}
.tx-cal-controller .allday.vevent a span:first-child,
.tx-cal-controller .allday.vevent a span.summary {
    color: #000000 !important;
}

.tx-cal-controller .vevent {
    background: #FECF1680 !important;
    border-color: #FECF16 !important;
}
.tx-cal-controller .vevent a span:first-child,
.tx-cal-controller .vevent a span.summary {
    color: #000000 !important;
}

/** RSS */
#content .tx-rssdisplay a {
    color: rgba(0, 66, 135, 1);
    font-size: 1.25rem;
    font-weight: bold;
}

#content .tx-rssdisplay ul li {
    background-image: none;
    padding: 0;
    border-bottom: 1px dotted currentColor;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

#content .tx-rssdisplay p {
    color: #707070;
}

#blogFlag {
  position: fixed;
  display: inline-block;
  left: 50%;
  bottom: -50px;
  transform: translate(-50%, -15px);
  z-index: 50000;
  
  transition: transform 0.25s ease-in-out;
}

#blogFlag::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: transform 0s;
}

#blogFlag:hover::before {
  transform: translateY(100%);
  transition: transform 1s ease;
}

body:not(.onScroll) #blogFlag,
#blogFlag:hover {
  transform: translate(-50%, -50px); /** Notice height of image below */
}

#blogFlag img {
  height: 50px;
  width: auto;
}

@media only screen and (min-width: 576px) {
  #blogFlag {
    display: none;
  }
}


.ce-gallery, .ce-gallery div, .ce-gallery figure {
  max-width: 100%;
}
.ce-gallery figure {
  display: block;
}


#c52 {
  overflow: hidden;
}


blockquote p:first-child {
  font-size: 19px;
  line-height: 26px;
  color: rgba(0, 66, 135, 1);
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  display: block;
  cursor: pointer;
}
/*
blockquote p:first-child::after{
  display: table;
  content: 'A';
}*/

blockquote p:first-child a{
  font-size: 19px;
  line-height: 26px;
  color: rgba(0, 66, 135, 1);
  font-weight: bold;
}
blockquote p:first-child a:hover{
  text-decoration: none;
}

.show{
  display: inline;
}

blockquote p{
  display: none;
}
/*
blockquote p:first-child:first-letter {
    font-size:1.6em;
}
*/

                 
